@import url(https://fonts.googleapis.com/css?family=Kaushan+Script&subset=latin-ext);

@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot?54ul5');
    src: url('../fonts/iconfont.eot?54ul5#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.ttf?54ul5') format('truetype'),
    url('../fonts/iconfont.woff?54ul5') format('woff'),
    url('../fonts/iconfont.svg?54ul5#iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'iconfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-circle:before {
    content: "\e900";
}

$red: #A60311;
$pink: #ffd8db;
$black: #000000;
$white: #FFFFFF;
$white2: #f7f7f7;
$grey: #dddddd;

html, body {
    background: radial-gradient(circle, $red 0%, $black 100%);
    background-color: $red;
    color: $white;
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    height: 100%;
    width: 100%;
}

a {
    color: $red;
    display: inline-block;
    transition: all .3s ease;

    &:hover {
        background-color: $red;
        color: $white2;
    }
}

p {
    font-style: italic;
    font-weight: 200;
    line-height: 1.4;
    text-align: justify;
}

b {
    font-weight: 700;
}

.answers {
    list-style: none;
    padding: 0px;
    text-align: left;
    transition: all .15s ease;

    &__item {
        padding: 5px 0px;
        width: 100%;
    }

    &__button {
        align-items: baseline;
        background-color: transparent;
        border: 0;
        color: $red;
        cursor: pointer;
        display: flex;
        font-family: Verdana, sans-serif;
        font-size: 16px;
        font-weight: 700;
        padding: 10px;
        text-align: left;
        user-select: none;
        width: 100%;

        &:hover {
            background-color: $pink;
        }

        &:focus {
            outline: 0;
        }

        &.-chosen {
            background-color: $pink;
            pointer-events: none;
        }

        &.-not-chosen {
            opacity: 0.25;
            pointer-events: none;
        }
    }

    &__icon {
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
        margin-right: 10px;
    }
}

.box {
    &__main {
        align-items: center;
        display: flex;
        justify-content: center;
        min-height: 100%;
    }

    &__section {
        background-color: $white2;
        color: $red;
        display: none;
        font-size: 16px;
        max-width: 1000px;
        min-height: 200px;
        margin: 0px 100px;
        padding: 30px 50px 50px 50px;
        position: relative;
        text-align: center;
        transition: all .5s ease;
        width: 100%;

        @media (max-width: 767px) {
            margin: 15px;
            padding: 30px 20px;
        }
    }

    &__title {
        font-family: 'Kaushan Script', cursive;
        font-size: 50px;
        margin: 0;
        margin-bottom: 40px;
        text-align: center;
    }

    &__subtitle {
        font-size: 18px;
        margin: 20px 0;
    }

    &__content {
        display: inline-block;
        margin: 0 auto;
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.button {
    background-color: $red;
    border: 1px solid $white;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    height: 55px;
    min-width: 140px;
    padding: 0 10px;
    text-transform: uppercase;
    transition: all .3s ease;

    &:hover {
        background-color: $white;
        border: 1px solid $red;
        color: $red;
        transition: all .3s ease;
    }

    &.-margin {
        margin-top: 20px;
    }
}

.progress {
    background-color: $white;
    border: 1px solid $grey;
    border-radius: 6px;
    font-family: Verdana, sans-serif;
    font-size: 18px;
    height: 38px;
    text-align: left;
    overflow: hidden;
    position: relative;
    user-select: none;
    width: 100%;

    &__bar {
        border: 1px solid #e3a1a1;
        border-radius: 6px;
        background-color: $red;
        color: $white;
        margin: -1px;
        height: 100%;
    }

    &__value {
        color: $red;
        left: 50%;
        top: 8px;
        text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;
        transform: translateX(-50%);
        position: absolute;
        user-select: none;
        z-index: 30;
    }
}

.score {
    font-weight: 300;
    list-style: none;
    padding: 0px;

    &__item {
        padding: 10px 0px;

        &:hover {
            background-color: $pink;
        }
    }
}

.chart {
    display: flex;
    background-color: white;
    flex-direction: column;
    position: relative;
    padding: 20px;
    padding-right: 30px;
    width: auto;

    @media (max-width: 500px) {
        padding: 10px;
    }

    &__definition {
        display: flex;
        margin: 0;
    }

    &__text {
        align-items: center;
        background-color: white;
        display: inline-flex;
        font-weight: 600;
        height: 60px;
        justify-content: flex-start;
        text-align: left;
        width: 260px;

        @media (max-width: 1300px) {
            font-size: calc(10px + 4 * ((100vw - 320px) / 680));
            width: 24vw;
        }

        @media (max-width: 500px) {
            width: 30vw;
        }
    }

    &__bar {
        background-image: repeating-linear-gradient(to right, $grey, $grey 1px, $white 1px, $white 8.31%);
        font-size: 14px;
        height: 60px;
        position: relative;
        text-transform: uppercase;
        width: calc(100% - 260px);

        @media (max-width: 1300px) {
            width: calc(100% - 24vw);
        }

        @media (max-width: 500px) {
            background-image: none;
        }
    }

    &__value {
        align-items: center;
        background-color: $red;
        color: rgba($white, 0);
        display: flex;
        height: 60%;
        justify-content: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        transition: color .3s ease, width 2s ease-in-out;
        user-select: none;
        white-space: nowrap;
        width: 50px;

        @media (max-width: 1300px) {
            font-size: calc(10px + 2 * ((100vw - 320px) / 680));
        }

        &.-text-visible {
            color: rgba($white, 1);
        }

        &.-less-than-four {
            @media (max-width: 500px) {
                color: $red;
                text-indent: 24vw;
            }
        }

        &.-zero {
            background-color: transparent;
            justify-content: flex-start;
            min-width: 40px;
            text-indent: 0;
            width: calc(100% / 12) !important;

            &.-text-visible {
                color: rgba($red, 1);
            }
        }
    }

    &__ticks {
        display: flex;
        justify-content: space-between;
        margin-left: 250px;
        margin-top: 5px;
        position: relative;
        width: calc(100% - 260px + 20px);

        @media (max-width: 1300px) {
            margin-left: calc(24vw - 10px);
            width: calc(100% - 24vw + 20px);
        }

        @media (max-width: 500px) {
            display: none;
        }
    }

    &__tick {
        font-size: 12px;
        text-align: center;
        width: 20px;

        @media (max-width: 1300px) {
            font-size: calc(6px + 4 * ((100vw - 320px) / 680));
        }

        @media (max-width: 500px) {
            display: none;
        }
    }
}

.question {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    list-style-type: none;
    margin-top: 40px;
    padding: 0;
    text-align: left;

    &__text {
        font-weight: 700;
        text-align: center;
    }

    &__item {
        border: 1px solid $red;
        padding: 15px;
    }

    &__answers {
        margin: 10px 0;
        padding-left: 20px;
    }

    &__answersitem {
        margin-bottom: 10px;

        &.-chosen {
        }

        &.-not-chosen {
            opacity: 0.15;
            transition: opacity .3s ease;

            &:hover {
                opacity: 0.5;
            }
        }
    }
}