@import url(https://fonts.googleapis.com/css?family=Kaushan+Script&subset=latin-ext);

html, body {
	background: -moz-radial-gradient(center, ellipse cover, #A60311 0%, #000 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #A60311), color-stop(100%, #000));
	background: -webkit-radial-gradient(center, ellipse cover, #A60311 0%, #000 100%);
	background: -o-radial-gradient(center, ellipse cover, #A60311 0%, #000 100%);
	background: -ms-radial-gradient(center, ellipse cover, #A60311 0%, #000 100%);
	background-color: #A60311;
	color: #FFF;
	font-family: Verdana;
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	height: 100%;
	width: 100%;
}

b {
	font-weight: bold;
}

button {
	background-color: #A60311;
	border: 1px solid #FFF;
	color: #FFF;
	cursor: pointer;
	font-weight: bold;
	height: 4em;
	text-transform: uppercase;
	transition: 0.5s;
	width: 11em;
}

button:hover {
	background-color: #FFF;
	color: #A60311;
	transition: 0.5s;
}

h1 {
	font-family: 'Kaushan Script', cursive;
	font-size: 50px;
	text-align: center;
}

li {
	display: table;
	min-height: 50px;
	padding: 10px 0px;
}

li:hover {
	background-color: #ffd8db;
	cursor: pointer;
}

p {
	font-style: italic;
	font-weight: 200;
	text-align: center;
}

ul {
	list-style: none;
	padding: 0px;
}

.answerBox {
	display: table-cell;
	padding-left: 15px;
	vertical-align: middle;
}

.answerBox:nth-child(2) {
	width: 100%;
}

.bold {
	font-weight: bold;
}

.centerBox {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 100%;	
}

.centerText {
	text-align: center;
}

.centerText li {
	display: block;
	min-height: 0px;
	font-weight: normal;
}

.infoBox, .testBox, .scoreBox {
	background-color: #f7f7f7;
	color: #A60311;
	display: none;
	min-height: 200px;
	width: 100%;
	margin: 0px 100px;
	padding: 30px 50px 50px 50px;
	position: relative;
}

.progressLabel {
	color: #A60311;
	left: 50%;
	top: 8px;
	font-weight: bold;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	position: absolute;
	z-index: 30;
}

.secondColorButton {
	background-color: #f7f7f7;
	border: 1px solid #A60311;
	color: #A60311;
}

.secondColorButton:hover {
	background-color: #A60311;
	color: #f7f7f7;
	transition: 0.5s;
}

.titleBox {
	text-align: center;
}

#progressBar {
	bottom: 30px;
	position: absolute;
	width: calc(100% - 100px);
}

@media screen and (max-width: 1024px) and (max-height: 800px) {
	p {
		padding: 0px 5px;
	}
	
	.centerBox {
		display: inline;
		height: auto;
	}
	
	.infoBox, .scoreBox {
		min-height: 100%;
		margin: 0px;
		padding: 5px 0px 38.5px 0px;
	}
	
	.titleBox, .testBox {
		/* Ustawia na środku okienko dialogowe */
		left: 50%;
		margin: 0px;
		padding: 0px;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);	
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		width: 100%;
		/* --- */
	}
	
	#progressBar {
		bottom: 5px;
		position: relative;
		width: calc(100% - 4px);
	}
}
